# Python
.venv/
__pycache__/
*.pyc
*.pyo
.env

# Flutter
flutter/reel_recommandation/build/
flutter/reel_recommandation/.dart_tool/
flutter/reel_recommandation/.packages
flutter/reel_recommandation/.flutter-plugins
flutter/reel_recommandation/.flutter-plugins-dependencies

# ML Model
ml model/ml/data/
ml model/ml/__pycache__/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
