MONGO_URI=mongodb://localhost:27017/
# If you run via docker-compose with auth enabled, use:
# MONGO_URI=mongodb://admin:admin123@localhost:27017/
MONGO_DB=reel_recommendation
API_HOST=0.0.0.0
API_PORT=8000
CLOUD_NAME=dapdy8nth
API_KEY=356568315243134
API_SECRET=hYz5dGzrzYJasVsq8FHbhgnqXxM
CLOUDINARY_FOLDER=reels_app/videos
MAX_VIDEO_SIZE_MB=100
